{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}


{% block body %}

{% include 'front/utils/header.html.twig' %}

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

        {% for type,flash in app.flashes %}
            {% for message in flash %}
                <div class=" col-4 px-3 mt-4 mx-auto w-100 alert alert-{{type}}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

<div class="container-lg my-4 pb-5">

    {% for user in users %}    
        <div class="card {{ (loop.index is divisible by(2)) ? 'text-white bg-primary' : 'text-dark bg-success' }} mb-3">
            <div class="card-header"><img src="{{ asset(user.avatar) }}" alt="User image" class="rounded d-inline mx-2" height="35" width="35"> {{ user.firstname ~ '  ' ~ user.lastname }}</div>
            <div class="card-body">
                
                <p class="card-text">Born {{ user.birthday|format_date('none', 'MMMM, dd YYYY', null, 'gregorian', 'en') }}</p>
                
            </div>
        </div>
    {% endfor %}

    {% set diff =  users|length - app.request.get('offset') %}
    <div>There are {{ users|length }} users. ( {{ users|length - diff}} /  {{ users|length }} )</div>

    {% if previous >= 0 %}
        <a class="btn btn-primary" href="{{ path('homepage', { offset: previous }) }}">Previous</a>
    {% else %}
        <div class="btn btn-secondary disabled">Previous</div>
    {% endif %}
    {% if next < users|length %}
        <a class="btn btn-primary" href="{{ path('homepage', { offset: next }) }}">Next</a>
    {% else %}
        <div class="btn btn-secondary disabled">Next</div>
    {% endif %}
    
</div>



{% include 'front/utils/footer.html.twig' %}

{% endblock %}
